h2 Pictures

= link_to 'clickHere', "#", id: "clickHere"

button.btn.btn-primary#fileupload style='display: none;' Upload

#devise_images_list

= content_for(:javascript_code) do
  | PicturesUpload.init("#{pictures_path}");
